<div class="box-model-header"><h1>Directory</h1></div>                       
<div class="box-model-content">
    <div class="row-fluid">
        <div class="span12 guide">
            <div class="count">
                <h3>Create</h3>
                <div id="count" class="feed-count">&#x2613;</div>
            </div>
            <%= render "shared/mini_guide" %>
        </div>
    </div>
    <br/>
    <div class="row-fluid">
      <div id="wrap-directory" class="span12">
        <%= render 'form' %>
      </div>
    </div>
</div>