$('#inner_<%= dom_id(@photosfeed) %>').html(
	'<%= escape_javascript(render "form") %></div>' +
	'<a class="kill" href="#">&times;</a>');

$('.kill', $('#inner_<%= dom_id(@photosfeed) %>')).click(function() {
	$('#inner_<%= dom_id(@photosfeed) %>').html("");
});