<div class="box-model-content">
  <div class="row-fluid">
    <div class="span12">
  	</div>
  </div>
  <div class="row-fluid">
    <div class="span3">
      <h4 class="block">Features</h4>
    	<div class="cms-graphic graphic-link"></div>
  	</div>
  	<div class="span3">
      <h4 class="block">Graphics</h4>
  		<div class="cms-graphic graphic-rss"></div>
  	</div>
  	<div class="span3">
      <h4 class="block">Distribution</h4>
  		<div class="cms-graphic graphic-tag1"></div>
  	</div>
  	<div class="span3">
      <h4 class="block">Release</h4>
  		<div class="cms-graphic graphic-map1"></div>
  	</div>
  </div>
  <div class="row-fluid">
    <div class="span3">
      <h4 class="block">Features</h4>
      <div class="cms-graphic graphic-calendar"></div>
    </div>
    <div class="span3">
      <h4 class="block">Graphics</h4>
      <div class="cms-graphic graphic-device"></div>
    </div>
    <div class="span3">
      <h4 class="block">Distribution</h4>
      <div class="cms-graphic graphic-user3"></div>
    </div>
    <div class="span3">
      <h4 class="block">Release</h4>
      <div class="cms-graphic graphic-settings"></div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
  	</div>
  </div>
</div>