<div class="box-model-header"><h1>Welcome</h1></div>					
<div class="box-model-content">
  
  <div class="row-fluid">
    <div class="span12">
    	<div class="hero-unit">
    		<div class="row-fluid">
    			<img src="<%= @user.picture_url %>" class="img-polaroid profile-pic pull-left">
    			<div class="profile-wrap">
		    		<h1 style="text-align:left;"><%= @user.name %></h1>
		    		<p></p>
              <h5>App Status:</h5> <span>Building</span>
		    	</div>
		    </div>
		</div>
    </div>
  </div>
</div>