<div class="box-model-header"><h1>Checklist</h1></div>		
<div class="box-model-content">
	<div class="row-fluid">
		<div id="checklistSwitch" class="span12 chck">
			<%= render 'shared/user_features' %>
		</div>
	</div>
</div>