<div class="box-model-header"><h1>Editing iOS Main Icon</h1></div>
<div class="box-model-content">
    <div class="row-fluid">
    </div><br/>
    <div class="row-fluid">
      <div class="span12">
      	<%= render 'form' %>
      </div>
    </div><br/>
    <div class="row-fluid">
      <div class="span12">
      	<%= link_to 'Back', user_ios_main_icons_path %>
      </div>
    </div>
</div>
