<div class="box-model-header"><h1>Mobile Web Top Bar</h1></div>
<div class="box-model-content">
  <div class="row-fluid">
    <div class="span12 guide">
      <div class="count">
        <h3>Editing</h3>
        <div id="count" class="feed-count-empty">&#x2713;</div>
      </div>
      <%= render "shared/mini_guide" %>
    </div>
  </div>
  <div class="row-fluid">
      <div class="span12">
        <div class="addnew">
          <div>
            <%= render 'form' %>
          </div>
          <script>
            createWebPicker();
            barWebPreview();
          </script>
        </div>
      </div>
    </div>
  <div class="row-fluid">
    <div class="span12">
    </div>
  </div>
  <div class="row-fluid new-lib">
    <div class="span12 pagination-centered">
      <%= link_to 'Back', user_mobile_web_topbar_path %>
    </div>
  </div>
</div>