<div class="box-model-header"><h1>Android Marketplace Profile</h1></div>   
<div class="box-model-content">
  <div class="row-fluid">
    <div class="span12 guide">
      <div class="count">
        <h3>Create</h3>
        <div id="count" class="feed-count-empty">&#x2613;</div>
      </div>
      <%= render "shared/mini_guide" %>
    </div>
  </div>
  <div class="row-fluid">
      <div class="span12">
        <div class="addnew">
          <div>
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  <div class="row-fluid">
    <div class="span12">
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
    </div>
  </div>
</div>